@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
$maincolor: #6B6779;

*,
*::before,
*::after {
  box-sizing: border-box;
}


ul[class],
ol[class] {
  padding: 0;
}


body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}


body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #F9F6F1;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
}


ul[class],
ol[class] {
  list-style: none;
}


a:not([class]) {
  text-decoration-skip-ink: auto;
}


img {
  max-width: 100%;
  display: block;
}


article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    min-width: 50%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    background-color: white;
    thead {
        tr {
            background-color: $maincolor;
            color: #ffff;
            text-align: left;
            font-weight: bold;
        }
    }
    th, td {
        padding: 12px 15px;
        text-align: center;
    }
    td:last-child {
        width: 100px;
    }
    tbody {
        tr {
            border-bottom: 1px solid #dddddddd;
            &:hover {
              font-weight: 500;
              color: $maincolor !important;
              background-color: lighten($maincolor,45%) !important;
            }
        }
        tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }
        tr:last-of-type {
            border-bottom: 2px solid $maincolor;
        }
    }
}

.removeButton {
    line-height: 1;
    display: inline-block;
    font-size: 0.8em;
    text-decoration: none;
    color: #fff;
    padding: 6px;
    background-color: lighten($maincolor,25%);
    border: 0;
    border-radius: 5px;
    &:hover {
        background-color: $maincolor;
    }
}

.addButton {
    line-height: 1;
    display: inline-block;
    font-size: 0.9em;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: lighten($maincolor,25%);
    padding: 10px;
    margin-bottom: -10px;
    margin-top: 25px;
    border-radius: 10px;
    width: 26%;
    &:hover {
        background-color: $maincolor;
        text-decoration: none;
        color: #fff;
    }
}

.apexchart {
  margin-top: 50px;
}

form {
  max-width: 700px;
  width: 100%;
  margin: 20px auto;
  box-shadow: 2px 2px 20px rgba(0,0,0,0.15);
  h3 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    background-color: $maincolor;
    padding: 15px;
    color: white;
    letter-spacing: 2px;
  }

  .form-group:first-of-type {
    margin-top: 50px;
  }
}

.form-group {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  label {
    width: 200px;
    margin-right: 10px;
    font-size: 14px;
  }
  .input_field {
    width: 300px;
    max-width: 80%;
    outline: none;
    font-size: 15px;
    border: 1px solid $maincolor;
    height: 30px;
    border-radius: 6px;
  }
}

.submitButton {
  display: block;
  font-size: 1em;
  text-decoration: none;
  color: #fff;
  background-color: lighten($maincolor,25%);
  width: 150px;
  max-width: 50%;
  padding: 5px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 6px;
  border: none;
  &:hover {
    background-color: $maincolor;
    text-decoration: none;
    color: #fff;
  }
}

.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.lds-dual-ring {
  margin: auto;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $maincolor;
  border-color: $maincolor transparent $maincolor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.alert {
  padding: 20px;
  background-color: #C3CC93;
  color: white;
  margin: 0 30px 15px 30px;
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 1290px) {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 80%;
    }
}

@media (max-width: 600px) {
  .form-group {
    flex-direction: column;
    align-items: center;
    label {
      margin-bottom: 5px;
    }
  }
  .table-container {
    min-width: 200px;
    font-size: 0.5em;
  }
  table, thead, tbody, th, td, tr { 
		display: block; 
	}

  thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
  td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
	}

  td:before { 
		position: absolute;
		top: 11px;
    left: 10px;
		width: 45%; 
		padding-right: 40px; 
		white-space: nowrap;
	}

  td:nth-of-type(1):before { content: "Date"; }
	td:nth-of-type(2):before { content: "RUB rate"; }
	td:nth-of-type(3):before { content: "USD rate"; }
  td:nth-of-type(4):before { content: "EUR rate"; }

}
